*{
    margin: 0;
}
body{
    background-color: #403e3e33;
}
.header{
    margin-left:9vmax ;
    padding: 20px 0;
}
.title{
    text-align: center;
    font-size:5vmax;
    font-family: 'Oswald', sans-serif;
    color: black ;
    
}
.main{
    display: flex;
    justify-content:center;
    align-items: center;
    
}
.settings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
}
#input-color{
    width: 5vmax;
    height: 5vmax;
    border:none; 
    color: inherit;
}
.grid-container{
    width: 40vmax;
    height: 40vmax;
    /* border: 0.5px solid black; */
    display: grid;
    background-color: #fefefe;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
button{
    width: 15vmax;
    padding: 15px;
    border: 1px solid black;
    border-radius: 7px;
    background-color: inherit;
    margin: 1vh;
    color: inherit;
    font-size: 1.5vmax;
    font-weight:600 ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button.active{
    background-color: black;
    color: #fefefe;
}
#grid-size{
    font-family: inherit;
    font-size: 2vmax;
}

input,button:hover{
    transform: scale(1.099);
}